.App-header {
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-header a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
li {
  display: inline;
}

.home-link {
  margin: auto 6px;
}

.menu-link {
  float: right;
  margin: auto 6px;
}
