.App-header {
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-header a {
  color: white;
  text-decoration: none;
}

.home-link,
.menu-link {
  margin: auto 6px;
}

.home-link {
  flex-grow: 1;
}

.nav-group {
  display: flex;
}
